header{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    font-family:cursive;
    padding: 1.5%;
    font-size: large;
    margin-left: auto;
    opacity: 0.7;
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(images/flowers-4931217_1920.png);
    margin: 0%;

}
.mosaique {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.mosaique img {
    width: 100%;
    height: auto;
}

